blank_issues_enabled: false
contact_links:
  - name: {{ repository_name.replace(" ", "_").replace("-", " ").title() }} questions on StackOverflow
    url: https://stackoverflow.com/questions/tagged/{{ repository_name }}
    about: Please ask and answer questions here.
