{%- set repository_name = repository_name.replace("_", "-").lower() -%}
{%- set repository_title_name = repository_name.replace(" ", "_").replace("-", " ").title() -%}
# Support

First of all, we are very happy that your are using **{{ repository_title_name }}**.
We hope that there are no questions related to its use.
But if you have any questions.

## Please Questions Post It On Stack Overflow

Do not open issues for general support questions as we want to keep GitHub
issues for bug reports and feature requests.  Instead, we recommend using [Stack
Overflow](https://stackoverflow.com/questions/tagged/{{ repository_name }}) to ask
support-related questions. When creating a new question on Stack Overflow, make
sure to add the `{{ repository_name }}` tag.

Stack Overflow is a much better place to ask questions since:

- there are thousands of people willing to help on Stack Overflow
- questions and answers stay available for public viewing so your
question/answer might help someone else
- Stack Overflow's voting system assures that the best answers are prominently
visible.

To save your and our time, we will systematically close all issues that are
requests for general support and redirect people to Stack Overflow.

*Thank you for your cooperation.*
